a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
body{
    font-family: 'Bilbo Swash Caps', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
}
:root{
    --header-text: #FED136;
    --main-section-name: #222222;
    --p-inform-text: #777777;
    --section-two-name: #FFFFFF;
    --text-form: #BBBBBB;
}
/* Початок стилювання  header */
header{
    display: flex;
  align-items: center;
}
.header-logo{
width: 153px;
height: 53px;
font-family: 'Bilbo Swash Caps';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 41px;
text-align: center;
letter-spacing: 1.3px;
margin-left: 237px;
color: var(--header-text);
}
.header-nav-list{
    margin-left: 285px;
    display: flex;
    gap: 30px;
    
}
.header-navigation{
width: 75px;
height: 41px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 41px;
text-transform: uppercase;
color: var(--header-text);
}
/* Початок стилювання  main (перша секція )*/
.hero-name{
width: 223px;
height: 75px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 75px;
letter-spacing: -1px;
text-transform: uppercase;
color: var(--main-section-name);
margin: 0 auto;
margin-top: 92px;
}
.text-information{
    display: flex;
    gap: 50px;
    margin-left: 200px;
    margin-bottom: 120px;
    margin-top: 160px;
}
.hero-subtitle-title{
width: 174px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 15px;
letter-spacing: -0.45px;
margin-left: 85px;
color: var(--main-section-name);
}
li>p{
width: 304px;
height: 56px;
font-family: 'RobotoSlab';
font-size: 14px;
line-height: 16px;
letter-spacing: -0.35px;
color: var(--p-inform-text);

}
/* Йду стилювати другу секцію */
.hero-contact-information{
    height: 679px;
    background-color: var(--main-section-name);
}
[class="hero-contact-information"]>h2{
    width: 288px;
    height: 49px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: var(--section-two-name);
    margin: 0 auto;
    padding-top: 92px;
}

.own-information{
    display: flex;
    gap: 27px;
}
.form{
    display: block;
    margin-left: 232px;
    margin-top: 116px;
}
.form-information{
width: 455px;
height: 50px;
background: var(--section-two-name);
border: 1px solid #CCCCCC;
border-radius: 2px;
display: block;
  margin-bottom: 28px;
}
form>[type="text"]{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
letter-spacing: -0.35px;
text-transform: uppercase;
padding-left: 21px;

color: var(--text-form);
}
textarea{
width: 458px;
height: 200px;
background: var(--section-two-name);
border: 1px solid #CCCCCC;
border-radius: 2px;
margin-top: 116px;
resize: none;
}
[placeholder="Your message *"]{
    /* Момент */
/* width: 150px;
height: 17px; */
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
letter-spacing: -0.35px;
text-transform: uppercase;
color: var(--text-form);
padding-top: 14px;
padding-left: 22px;
}
/* Стилювання кнопки  */
.button{
width: 242px;
height: 68px;
background: var(--header-text);
border: none;
border-radius: 3px;
margin-left: 582px;
margin-top: 27px;
}
.button span{
width: 176px;
height: 22px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
text-transform: uppercase;
color: var(--section-two-name);
}